.chatMessage {
    width: 100%;
    margin: 8px 8px;
    text-wrap: normal;
}

.senderName {
    font-weight: bolder;
}

.special {
    font-style: italic;
    font-size: 14px;
}

.leftMessage {
    display: flex;
    align-items: center;
    justify-content: start;
    overflow-wrap: break-word;
    width: 90%
}

.rightMessage {
    display: flex;
    align-items: center;
    justify-content: end;
    overflow-wrap: break-word;
    width: 90%
}

.centerMessage {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-wrap: break-word;
    width: 90%
}