.singleChat {
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    border-right: 2px black solid;
    border-left: 2px black solid;
    height: 100%;
    width: 240px;
    align-items: center;
}

.groupName {
    padding-top: 16px;
    font-size: 16px;
    font-weight: bolder;
    height: 20%;
}

.userNames {
    height: 80%;
    font-size: 12px;
}